<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Nota</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <form method="POST" action="/add_note">
        <label for="note_text">Texto da Nota:</label>
        <textarea id="note_text" name="note_text" rows="4" cols="50" required></textarea>
        <br>
        <input type="submit" value="Salvar Nota">
    </form>
    <a href="/notes">Voltar para Notas</a>
    {% endblock %}

</body>
</html>
