<!DOCTYPE html>
<html>

<body>
    {% include 'base.html' %}
    <div class="container">
        <h1>Notas</h1>
        <div id="add-note">
            <form action="/add_note" method="post">
                <label for="title">Título:</label><br>
                <input type="text" id="title" name="title" placeholder="Título"><br><br>

                <label for="content">Conteúdo:</label><br>
                <textarea id="content" name="content" rows="6" cols="64" placeholder="Insira seu texto..."
                    required></textarea><br><br>

                <input type="submit" value="Salvar">
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>