<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>NoteSync - Notas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>Notas</h1>
        <div id="add-note">
            <form action="/add_note" method="post">
                <label for="title">Título:</label><br>
                <input type="text" id="title" name="title" required><br><br>

                <label for="content">Conteúdo:</label><br>
                <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>

                <input type="submit" value="Salvar">
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <p>Lista de notas...</p>
        <p><a href="{{ url_for('index') }}">Sair</a></p>
    </div>
</body>

</html>